@import "tailwindcss";

@plugin '@tailwindcss/typography';


@theme {
  --height-128: 32rem;
}

* {
  @apply border-solid;

}

input {
  @apply bg-white;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@utility pboml-prose {
  @apply prose dark:prose-invert max-w-none prose-headings:font-thin break-words prose-a:text-blue-800 dark:prose-a:text-blue-200 leading-relaxed;
}

@utility pboml-non-reactive-prose {
  @apply prose dark:prose-invert max-w-none prose-headings:font-thin break-words prose-a:text-blue-800 dark:prose-a:text-blue-200 leading-relaxed;
}

@layer components {

  dialog::backdrop {
    @apply backdrop-blur-sm;
  }

  tbody th:not([scope]),
  tbody th:has(+ th:not([scope])) {
    @apply text-slate-700 dark:text-slate-300 border-y-2 border-y-slate-200;
  }


}

.prose> :first-child {
  margin-top: 0;
}

.prose> :last-child {
  margin-bottom: 0;
}

table p {
  @apply m-0;
}