@media print {
  body {
    text-rendering: optimizeLegibility;
  }

  table {
    width: 100%;
  }

  table,
  td,
  th {
    border: 1px solid lightgray;
    word-break: break-word;
    border-collapse: collapse;

  }

  tr {
    break-inside: avoid-page;
  }



  h1,
  h2,
  h3,
  h4 {
    font-weight: lighter;
    break-after: avoid;
  }

  .text-xl {
    font-size: 1.2em
  }

  .flex-row {
    display: flex;
    gap: 0.75em;
  }

  .text-center {
    text-align: center;
  }

  .bg-gray-100 {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: #f5f5f5;
  }

  table,
  blockquote,
  pre,
  code,
  figure,
  li,
  hr,
  ul,
  ol,
  a,
  tr {
    page-break-inside: avoid;
  }

  h2,
  h3,
  h4,
  p,
  a {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  h1+p,
  h2+p,
  h3+p {
    page-break-before: avoid;
  }

  img {
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: avoid;
  }

  .hidden,
  .print\:hidden {
    display: none
  }


}