@media print {


  table {
    width: 100%;
  }

  table,
  td,
  th {
    border: 1px solid #d1d5db;
    word-break: break-word;
    border-collapse: collapse;
  }

  td p,
  th p {
    margin: 0;
  }

  td,
  th {
    padding: 0.25em;
    font-size: 0.875em;
  }

  tr {
    break-inside: avoid-page;
  }



  h1,
  h2,
  h3,
  h4 {
    font-weight: lighter;
    break-after: avoid;
  }

  .text-xl {
    font-size: 1.2em
  }

  .flex-row {
    display: flex;
    gap: 0.75em;
  }

  .text-center {
    text-align: center;
  }

  .bg-gray-100 {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: #f5f5f5;
  }

  .pb__figure {
    background-color: #f9fafb;
  }

  .pb__aside {
    background-color: #eff6ff;
  }

  .pb__figure,
  .pb__aside {
    break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    padding: 1em;
  }

  table,
  blockquote,
  pre,
  code,
  figure,
  li,
  hr,
  ul,
  ol,
  a,
  tr {
    page-break-inside: avoid;
  }

  h2,
  h3,
  h4,
  p,
  a {
    text-rendering: optimizeLegibility;
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  dt {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  h1+p,
  h2+p,
  h3+p {
    page-break-before: avoid;
  }

  img {
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: avoid;
  }

  .hidden,
  .print\:hidden,
  .sr-only {
    display: none
  }

  .font-semibold {
    font-weight: 600;
  }

  .border-l-2 {
    border-left: 0.125rem solid #f3f4f6;
    padding-left: 0.5rem;
  }

  dd {
    display: block;
    margin-inline-start: 0;
  }

  font-normal {
    font-weight: 400;
  }

  dl {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .print\:list-none {
    list-style: none;
    padding-inline-start: 0;
  }

  .justify-end {
    text-align: right
  }

}